{{ define "main" -}}
<div class="home">
  <div class="opening-quote">
    {{.Content}}
  </div>
  <div class="latest">
    {{ range .Pages }}
        {{ if eq .Title "Pages" }}
          <h2>Lore</h2>
          <ul>
          {{ range .Pages.ByWeight }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
          </ul>
        {{ else }}
          <h2>{{.Title}}</h2>
          <ul>
          {{ range .Pages.ByDate.Reverse }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
          </ul>
        {{ end }}
    {{ end }}
  </div>
</div>
{{- end }}
