header {
    padding: 2.5rem .75rem 1.25rem;
    color: whitesmoke;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

header a, header a:visited, header a:active {
    color: whitesmoke;
    text-decoration: none;
}

header a:hover { color: magenta; }

header h1 {
    font-weight: 2;
    line-height: 2.5rem;
    font-style: italic;
    margin: 0;
}

.breadcrumbnav {
    font-size: 0.875rem;
    background-color: darkblue;
    list-style: none;
    padding: 0.625rem 5px 0.625rem 0.75em;
}

.breadcrumbnav li {
    display: inline;
    color: blue;
}

.breadcrumbnav a {
    color: whitesmoke;
    text-decoration: none;
}

.breadcrumbnav li:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 700px){
    header {
        padding: 9.25rem 4em 3.75rem;
        flex-direction: row;
    }

    header h1 {
        text-align: center;
        margin-bottom: 0;
    }

    .breadcrumbnav {
        padding: .625rem 4rem;
    }

}