body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    min-width: 320px;
    line-height: 1.2em;
}

@media only screen and (min-width: 1440px) {
    body { font-size: 32px; }
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    font-weight: bold;
    margin: 1em auto .6em;
}

h2 {
    font-size: 1.6em;
    margin: 1em auto .6em;
}

h3 {
    margin: 1em auto .6em;
}

p, ol, ul {
    color: #333;
    margin-bottom: 1em;
}

p:last-child, ol:last-child, ul:last-child { margin-bottom: 0 }
ol, ul {
    list-style: square;
    padding-left: 20px;
}

a:visited, a:active { color: #333; }

li {
    margin-bottom: .5em;
}

header {
    padding: 3em .75em 2em;
    color: whitesmoke;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header a, header a:visited, header a:active {
    color: whitesmoke;
    text-decoration: none;
}

header a:hover { color: magenta; }

#content {
    flex-grow: 1;
    align-items: stretch;
}

#content section {
    padding: 0 .75em;
    margin: 1em 0 2em;
    max-width: 40em;
}

.post-date {
    font-size: 0.8em;
}

header section {
    margin-bottom: 1em;
}

header section:last-child { margin-bottom: 0; }

header section h1 {
    font-weight: 2;
    font-style: italic;
    margin: 0;
}

.breadcrumbnav {
    font-size: .9em;
    background-color: darkblue;
    list-style: none;
    padding: 7px 5px 7px 0.75em;
}

.breadcrumbnav li {
    display: inline;
    color: blue;
}

.breadcrumbnav a {
    color: whitesmoke;
    text-decoration: none;
}

.breadcrumbnav li:last-child {
    margin-bottom: 0;
}

footer {
    font-size: 0.8em;
    color: #888;
    padding: 1em .75em;
    margin-top: 2em;
}

footer a { color: #666; }

header, main, footer {flex-shrink: 0;}

.latest ul {
    list-style: none;
}

.img-shortcode img {
    max-width: 100%;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
}

@media only screen and (min-width: 700px){
    header {
        padding: 6em 4em 2em;
        flex-direction: row;
    }

    header section {
        text-align: center;
        margin-bottom: 0;
    }

    #content section, div.home {
        padding: 0 4em;
    }

    .breadcrumbnav {
        padding: 7px 4em 7px 4em;
    }

    footer {
        padding: 1em 4.75em;
    }

    ol, ul {
        list-style: square;
        padding-left: 0;
    }

    div.opening-quote {
        font-size: 1.2em;
        margin-top: 2em;
        max-width: 30em;
    }

    .post-date {
        float: right;
    }

    div.home {
        flex-direction: row;
    }

    .latest {
        padding-left: 2em;
        padding-top: 1em;
    }
}

.home {
    display: flex;
    flex-direction: column;
    padding: 1em .75em 0 .75em;
}

.opening-quote {
    margin-top: 0em;
}

.opening-quote span {
    font-size: .8em;
}

.opening-quote p {
    font-style: italic;
    line-height: 1.4em;
    margin-bottom: 1em;
}

.construction {
    margin-top: 2em;
}

.construction img {
    vertical-align: middle;
    width: 2em;
    height: 2em;
}