body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    min-width: 320px;
    line-height: 1.25rem;
}

/* Typography */

h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 2rem;
    line-height: 32px;
    font-weight: bold;
    margin: 1.875rem auto 1.25rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.875rem;
    margin: 1.875rem auto 1.25rem;
}

h3 {
    margin: 1em auto .6rem;
}

p, ol, ul {
    color: #333;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
}

p:last-child, ol:last-child, ul:last-child { margin-bottom: 0 }
ol, ul {
    list-style: square;
    padding-left: 1.25rem;
}

a:visited, a:active { color: #333; }

li + li {
    margin-top: 0.625rem;
}

/* Components */

header {
    padding: 2.5rem .75rem 1.25rem;
    color: whitesmoke;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header a, header a:visited, header a:active {
    color: whitesmoke;
    text-decoration: none;
}

header a:hover { color: magenta; }

#content {
    flex-grow: 1;
    word-break: break-word;
    hyphens: auto;
}

#content section {
    padding: 0 .75rem;
    margin: 1rem 0 2em;
    max-width: 40rem;
}

#content h1 {
    line-height: 2.5rem;
}

.post-date {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

header h1 {
    font-weight: 2;
    line-height: 2.5rem;
    font-style: italic;
    margin: 0;
}

.breadcrumbnav {
    font-size: 0.875rem;
    background-color: darkblue;
    list-style: none;
    padding: 0.625rem 5px 0.625rem 0.75em;
}

.breadcrumbnav li {
    display: inline;
    color: blue;
}

.breadcrumbnav a {
    color: whitesmoke;
    text-decoration: none;
}

.breadcrumbnav li:last-child {
    margin-bottom: 0;
}

footer {
    font-size: 0.875rem;
    color: #888;
    padding: 1.25rem .75em;
    margin-top: 2.5rem;
}

footer a { color: #666; }

header, main, footer {flex-shrink: 0;}



.latest ul {
    list-style: none;
}

.latest li, .latest a {
    display: inline-block;
}

.latest li, .latest a {
    width: 100%;
}

.img-shortcode img {
    max-width: 100%;
}

figcaption {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.625rem;
    font-style: italic;
    color: #666;
}

@media only screen and (min-width: 700px){
    header {
        padding: 9.25rem 4em 3.75rem;
        flex-direction: row;
    }

    header h1 {
        text-align: center;
        margin-bottom: 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
        margin: 3.75rem 0;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 1.875rem;
    }

    p, ul, ol {
        margin-bottom: 1.875rem;
    }

    li + li {
        margin-top: 1.25rem;
    }

    #content section, div.home {
        padding: 2.5rem 4rem;
    }

    .breadcrumbnav {
        padding: .625rem 4rem;
    }

    footer {
        padding: 1em 4.75em;
    }

    ol, ul {
        list-style: square;
        padding-left: 0;
    }

    div.opening-quote {
        margin-top: 3.25rem;
        max-width: 40rem;
    }

    div.opening-quote p {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .post-date {
        color: #3;
        float: right;
    }

    div.home {
        flex-direction: row;
    }

    .latest {
        padding-left: 5rem;
        padding-top: 1.875rem;
    }

    .latest h2 {
        margin: 1.875rem auto 1.25rem;
    }

    .latest li + li {
        margin-top: .625rem;
    }
}

.home {
    display: flex;
    flex-direction: column;
    padding: 1em .75em 0 .75em;
}

.opening-quote {
    margin-top: 0em;
}

.opening-quote em {
    font-size: 1rem;
}

.opening-quote p {
    font-style: italic;
    line-height: 1.5625rem;
    margin-bottom: 1.25rem;
}

.construction {
    display: flex;
    margin-top: 2.5rem;
}

.construction img {
    vertical-align: middle;
    width: 2em;
    height: 2em;
    margin-right: 5px;
}